
	<div class="top-bar">
		<a href="homepage"><%= image_tag("awkotaco_logo.png", :class =>"logo") %></a>
		<div class="top-text">Rankings</div>
	    <%= image_tag("icon_nav03_sm.png",:class=>"nav-btn") %>
	</div>

	<br>

		<div id="videoList">
		<div class="videoBlock"> 
			<iframe class="video" id="ytplayer" type="text/html" width="100%" height="250" src="https://www.youtube.com/embed/pEFbw0HtTU0"frameborder="0" allowfullscreen></iframe>
			<div class="bottomText">
					<img class="profilePic" src="http://graph.facebook.com/100006561637139/picture?type=large"/>
					<div class="text">Despicable Me - Xinli</div>
					<%= image_tag("icon_star_1.png", :class=>"rankPic") %>
			</div>

	
		<div class="feed_like">
			<%= image_tag("icon_like.png") %>Shugo Tanaka, Jacob Alber and 4 others liked your "Despicable Me" challenge.
		</div>


		</div>
		<div class="videoBlock"> 
			<iframe class="video" id="ytplayer" type="text/html" width="100%" height="250" src="https://www.youtube.com/embed/Unv1LzFEoQA"frameborder="0" allowfullscreen></iframe>
			<div class="bottomText">
					<img class="profilePic" src="http://graph.facebook.com/641342073/picture?type=large"/>
					<div class="text">Walk into a Board Room Meeting - Shugo Tanaka</div>
					<%= image_tag("icon_star_2.png", :class=>"rankPic") %>
			</div>

			<div class="feed_like">
				<%= image_tag("icon_like.png") %>Tom Chen and  Brian Chien liked your "Walk into a Board Room Meeting" challenge.
			</div>

		</div>

		<div class="videoBlock"> 
			<iframe class="video" id="ytplayer" type="text/html" width="100%" height="250" src="https://www.youtube.com/embed/_uY7Y8kGwjg"frameborder="0" allowfullscreen></iframe>
			<div class="bottomText">
					<img class="profilePic" src="http://graph.facebook.com/1406440261/picture?type=large"/>
					<div class="text">Conference Room Creeping - Jacob Albers</div>
					<%= image_tag("icon_star_3.png", :class=>"rankPic") %>
			</div>
			<div class="feed_like">
				<%= image_tag("icon_like.png") %> Jatin Pandey liked your "Conference Room Creeping" challenge.
			</div>
		</div>


		<div class="videoBlock"> 
			<iframe class="video" id="ytplayer" type="text/html" width="100%" height="250" src="https://www.youtube.com/embed/EHYsF2hkSoE"frameborder="0" allowfullscreen></iframe>
			<div class="bottomText">
					<%= image_tag("awkotaco_logo.png", :class =>"profilePic") %>
					<div class="text">Nose Pinch - AwkoTaco</div>
					<%= image_tag("icon_star_4.png", :class=>"rankPic") %>
			</div>
		</div>
		<div class="feed_like">
			<%= image_tag("icon_like.png") %>Ian Estabrook liked your "Nose Pinch" challenge.
		</div>
    </div>

